@model Material

<h2>Detalhes do Material</h2>

<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Tipo:</strong> @Model.Tipo</p>
<p><strong>Cor:</strong> @Model.Cor</p>
<p><strong>Unidade:</strong> @Model.UnidadeDeMedida</p>
<p><strong>Quantidade:</strong> @Model.QuantidadeEstoque</p>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
